.expanded-panel {
    -fx-background-color: #cacaca;
    -fx-background-radius: 14;
    -fx-border-color: #818181;
    -fx-border-radius: 10;
    -fx-border-width: 4;
    -fx-padding: 15 18 12 26;
}

.expanded-panel.contact-selected {
    -fx-border-color:derive(#342a01, 70%);
    -fx-border-width: 6;
}

.name-label {
    -fx-text-fill: #342a01;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.shared-scroll-pane {
    -fx-background-color: #cacaca;
}

.shared-scroll-pane .viewport {
    -fx-background-color: #cacaca;
}

.shared-scroll-pane .scroll-bar {
    -fx-background-color: #cacaca;
    -fx-pref-height: 11;
    -fx-pref-width: 11;
}

.shared-scroll-pane .thumb {
    -fx-background-color: derive(#cacaca, -40%);
    -fx-background-insets: 1;
}

.shared-scroll-pane .increment-button,
.shared-scroll-pane .decrement-button {
    -fx-background-color: transparent;
}

.shared-scroll-pane .increment-arrow,
.shared-scroll-pane .decrement-arrow {
    -fx-shape: " ";
}

.shared-scroll-pane .corner {
    -fx-background-color: transparent;
}

.course-tutorial-label {
    -fx-background-color: #e09731;
    -fx-padding: 3 6 3 6;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 4);
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.fields-container {
    -fx-padding: 6 0 4 0;
}

.field-names-column .label {
    -fx-text-fill: #1d1d1d;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.field-values-column .label {
    -fx-text-fill: derive(#1d1d1d, 20%);
    -fx-font-size: 16px;
}

.field-names-column .label.missing-field,
.field-values-column .label.missing-field {
    -fx-font-style: italic;
    -fx-text-fill: derive(#1d1d1d, 40%);
}

.tags-scroll-pane {
    -fx-padding: 0 0 3 0;
}

#tags .label {
    -fx-background-color: #775500ca;
    -fx-padding: 3 6 3 6;
    -fx-background-radius: 4;
    -fx-font-size: 13px;
}

.separating-line {
    -fx-background-color: black;
    -fx-pref-height: 2px;
}
