.expanded-panel {
    -fx-background-color: #cacaca;
    -fx-background-radius: 14;
    -fx-border-color: #818181;
    -fx-border-radius: 10;
    -fx-border-width: 4;
    -fx-padding: 18 22 18 22;
}

.name-label {
    -fx-text-fill: #342a01;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 0 0 10 0;
}

.field-values-scroll-pane {
    -fx-background-color: #cacaca;
}

.field-values-scroll-pane .viewport {
    -fx-background-color: #cacaca;
    -fx-background-insets: 0;
}

.field-values-scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #cacaca;
    -fx-pref-height: 13;
}

.field-values-scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: derive(#cacaca, -60%);
    -fx-background-insets: 2;
}

.field-values-scroll-pane .scroll-bar:horizontal .increment-button,
.field-values-scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.field-values-scroll-pane .scroll-bar:horizontal .increment-arrow,
.field-values-scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: " ";
}

.field-names-column .label {
    -fx-text-fill: #1d1d1d;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.field-values-column .label {
    -fx-text-fill: derive(#1d1d1d, 20%);
    -fx-font-size: 16px;
}

.field-values-column {
    -fx-padding: 0 0 18 0;
}

.field-names-column .label.missing-field,
.field-values-column .label.missing-field {
    -fx-font-style: italic;
    -fx-text-fill: derive(#1d1d1d, 40%);
}

#tags .label {
    -fx-background-color: #775500ca;
    -fx-padding: 3 6 3 6;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 13px;
}
